@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "AlteGrotesk";
  src: url("/fonts/AlteHaasGroteskRegular.ttf");
}

@font-face {
  font-family: "AlteGroteskBold";
  src: url("/fonts/AlteHaasGroteskBold.ttf");
}

#contact a:hover::after,
#contact a:hover img,
#contact a:hover span,
#contact a:hover,
#projects .card:hover::after,
#photos .card:hover::after,
.scrollCall:hover img,
.scrollCall:hover,
header nav a:hover::after,
header nav a:hover,
.cta:hover {
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

#contact a::after,
#contact a img,
#contact a span,
#contact a,
#projects .card::after,
#photos .card::after,
.scrollCall img,
.scrollCall,
header nav a::after,
header nav a,
.cta {
  transition-delay: 0.1s;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.cta {
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 1px solid black;
  border-radius: 4rem;
  text-decoration: unset;
}

.cta:hover {
  background: black;
  color: white;
}

body::-webkit-scrollbar {
  background: repeat url(../images/noise_background_2.png);
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(148, 148, 148);
  border: 0.25rem solid white;
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #606060;
}

html,
html *,
* * {
  font-family: "AlteGrotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: normal;
  scroll-behavior: smooth;
}

body {
  background: repeat url(../images/noise_background_2.png);
}

section {
  position: relative;
  margin: 0 10vw 0 10vw;
}

@media screen and (max-width: 50rem) {
  section {
    margin: 0 5vw 0 5vw;
  }
}

@media screen and (min-width: 100rem) {
  section {
    margin: 0 auto 0 auto;
    width: 80rem;
  }
}

.particles-js {
  position: absolute;
  z-index: -10;
  height: 100%;
  filter: blur(30px);
}

h2 {
  font-family: "AlteGroteskBold", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: black;
  line-height: normal;
}

button {
  background: unset;
  border: unset;
  cursor: pointer;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
}

header {
  padding-top: 1rem;
}

header nav {
  border-top: 1px solid black;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav a {
  position: relative;
  height: 100%;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: unset;
  overflow: hidden;
}

header nav button {
  display: none;
  font-family: "AlteGrotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: normal;
  font-style: italic;
  margin-right: 5vw;
}

header nav a::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background: rgb(30, 30, 30)
}

header nav a:hover {
  color: white;
}

header nav a:hover::after {
  transform: translateY(0);
}

#menu {
  display: none;
}

#menu.active {
  display: unset;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  margin: 0;
  background: white;
}

#menu.active nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  gap: 2rem;
}

#menu.active nav a {
  text-decoration: unset;
  font-family: "AlteGrotesk", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: black;
  line-height: normal;
}

#menu.active nav button {
  font-family: "AlteGrotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: normal;
  font-style: italic;
}

@media screen and (max-width: 50rem) {
  header nav {
    justify-content: end;
  }

  header nav a {
    display: none;
  }

  header nav button {
    display: unset;
  }
}

footer {
  border-top: 1px solid black;
}

footer p {
  margin: 1rem 0 1rem;
  text-align: center;
}

@media screen and (max-width: 38rem) {
  footer p {
    margin: 0.75rem 0 0.75rem;
    font-family: "AlteGrotesk", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
    line-height: normal;
  }
}

#hero {
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

#hero div h1 {
  font-family: "AlteGroteskBold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: black;
  line-height: normal;
  margin-bottom: 1rem;
}

#hero img {
  height: 30rem;
}

.scrollCall {
  position: relative;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 3px solid black;
  border-radius: 100%;
}

.scrollCall img {
  width: 2rem;
}

.scrollCall:hover {
  background: black;
}

.scrollCall:hover img {
  filter: invert(100%);
}

@media screen and (max-width: 50rem) {
  #hero {
    flex-direction: column;
  }

  #hero div {
    text-align: center;
  }

  .scrollCall {
    display: none;
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

#about p {
  margin: 2rem 0 2rem;
  max-width: 30rem;
  text-align: center;
}

#about div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  max-width: 30rem;
}


#projects,
#photos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#projects h2,
#photos h2 {
  text-align: center;
}

#projects .cta,
#photos .cta {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

#projects {
  margin-bottom: 10rem;
}

#photos {
  margin-bottom: 10rem;
}

#projects .container,
#photos .container {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  width: 100%;
  height: 18rem;
}

#projects .container:nth-last-child(2),
#photos .container:nth-last-child(1) {
  flex-direction: row;
}

.span-project {
  margin-bottom: 2rem;
}

.span-competence {
  position: absolute;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  margin: 0 0 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  z-index: 3;
  bottom: 0;
  transition: 0.4s;
}

.span-competence-projects {
  position: absolute;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  margin: 0 0 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  z-index: 3;
  bottom: 0;
  transition: 0.4s;
}

#projects .card,
#photos .card {
  position: relative;
  flex-grow: 1;
  border-radius: 2rem;
  overflow: hidden;
  filter: grayscale(90%);
  transition: filter 0.4s;
}

#projects .card:hover,
#photos .card:hover {
  filter: grayscale(10%);
}

#projects .card p,
#photos .card p {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  padding: 0 2rem 1rem 1rem;
}

#projects .card p span,
#photos .card p span {
  font-family: "AlteGrotesk", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
  line-height: normal;
}

#projects .card:first-child,
#photos .card:first-child {
  flex-grow: 1.2;
}

#projects .card::after,
#photos .card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: rgba(255, 0, 0, 0);
  transform: translateY(100%);

}


#projects .card:hover::after,
#photos .card:hover::after {
  transform: translateY(0%);
}

#card-theories {
  background-image: url("../images/miniatures/miniature-public-actif.webp");
  background-size: cover;
}

#card-escapades {
  background-image: url("../images/miniatures/miniature-escapades-temporelles.webp");
  background-size: cover;
}

#card-befake {
  background-image: url("../images/miniatures/miniature-befake.webp");
  background-size: cover;
}

#card-ordre {
  background-image: url("../images/miniatures/minitiature-lordre.webp");
  background-size: cover;
}

@media screen and (max-width: 50rem) {

  #projects,
  #photos {
    gap: 1rem;
  }

  #projects .container,
  #photos .container {
    gap: 1rem;
  }
}

@media screen and (max-width: 38rem) {

  #projects,
  #photos {
    gap: 1rem;
  }

  #projects .container,
  #photos .container {
    flex-direction: column !important;
    gap: 1rem;
  }

  #projects .card,
  #photos .card {
    flex-grow: 1 !important;
  }

  #projects .card::after,
  #photos .card::after {
    height: 40%;
  }
}

#contact {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-bottom: 1px solid black;
}

#contact a {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border-top: 1px solid black;
  text-decoration: unset;
  font-family: "AlteGrotesk", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: black;
  line-height: normal;
  overflow: hidden;
}

#contact a span {
  margin-right: 3rem;
  font-family: "Raleway", sans-serif;
  font-size: 96px;
  font-weight: 2;
  color: black;
  line-height: normal;
}

#contact a img {
  margin-left: 3rem;
}

#contact a:hover {
  color: white;
}

#contact a:hover span {
  color: white;
}

#contact a:hover img {
  filter: invert(100%);
}

#contact a::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  background: black;
  transform: translateX(-100%);
}

#contact a:hover::after {
  transform: translateX(0%);
}

@media screen and (max-width: 50rem) {
  #contact span {
    margin-right: 2.5rem;
    font-family: "AlteGrotesk", sans-serif;
    font-size: 80px;
    font-weight: 100;
    color: black;
    line-height: normal;
  }

  #contact a {
    padding-left: 2rem;
    font-family: "AlteGrotesk", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: black;
    line-height: normal;
  }

  #contact img {
    margin-left: 2.5rem;
    scale: 0.9;
  }
}

@media screen and (max-width: 38rem) {
  #contact span {
    margin-right: 2rem;
    font-family: "AlteGrotesk", sans-serif;
    font-size: 64px;
    font-weight: 100;
    color: black;
    line-height: normal;
  }

  #contact a {
    padding-left: 1.5rem;
    font-family: "AlteGrotesk", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: black;
    line-height: normal;
  }

  #contact img {
    margin-left: 2rem;
    scale: 0.8;
  }
}

#project-page-title h1 {
  font-family: "AlteGroteskBold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: black;
  line-height: normal;
  margin: 4rem 0 1rem;
}

#all-projects {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0 10rem;
}

#all-projects .project {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#all-projects .project .background-image {
  width: 25rem;
  height: 15rem;
  border-radius: 2rem;
}

#all-projects .project .text .title {
  font-family: "AlteGroteskBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: black;
  line-height: normal;
  margin-bottom: 0.5rem;
}

#all-projects .project .project-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#all-projects .project .project-content .project-labels {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

#all-projects .project .project-content .project-labels span {
  font-family: "AlteGrotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  border: 1px solid black;
  line-height: normal;
  padding: 10px 15px;
  border-radius: 9999px;
}

#all-projects .project .text .text {
  font-family: "AlteGrotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: normal;
}

#all-projects a {
  text-decoration: unset;
}

#all-projects .backToHome {
  border: 1px solid black;
  border-radius: 100px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: unset;
}

@media screen and (max-width: 50rem) {
  #project-page-title h1 {
    margin-top: 2rem;
  }

  #all-projects {
    gap: 2.5rem;
  }

  #all-projects .project {
    gap: 2rem;
  }
}

@media screen and (max-width: 38rem) {
  #project-page-title h1 {
    font-size: 48px;
    margin: 1rem 0 0.5rem;
  }

  #all-projects {
    gap: 3rem;
    padding-bottom: 6rem;
  }

  #all-projects .project {
    flex-direction: column;
    gap: 0.5rem;
  }

  #all-projects .project .background-image {
    width: 100%;
    height: 14rem;
  }

  #all-projects .project .text {
    width: 100%;
  }

  #all-projects .project .text .title {
    font-family: "AlteGrotesk", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: black;
    line-height: normal;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
  }

  #all-projects .project .text .text {
    font-family: "AlteGrotesk", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: normal;
    padding-left: 0.5rem;
  }

  #all-projects .backToHome {
    align-self: center;
  }
}

@media screen and (min-width: 448px) and (max-width: 38rem) {
  #all-projects .project .background-image {
    height: 16rem;
  }
}

#project-page-title h1 {
  font-family: "AlteGroteskBold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: black;
  line-height: normal;
  margin: 4rem 0 1rem;
}

#project-page-title h1 span {
  font-family: "AlteGrotesk", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: black;
  line-height: normal;
}

#project-page-title p {
  text-align: center;
}

#firstMotion {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0 10rem;
}

#firstMotion .project {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#firstMotion .project .background-image {
  width: 100%;
  max-width: 400px;
  height: 15rem;
}

#firstMotion .project .text .title {
  font-family: "AlteGrotesk", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: black;
  line-height: normal;
  margin-bottom: 0.5rem;
}

#firstMotion .project .text .text {
  font-family: "AlteGrotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: normal;
}

#firstMotion .backToHome {
  border: 1px solid black;
  border-radius: 100px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: unset;
}

@media screen and (max-width: 50rem) {
  #project-page-title h1 {
    margin-top: 2rem;
  }

  #firstMotion {
    gap: 2.5rem;
  }

  #firstMotion .project {
    gap: 2rem;
  }
}

@media screen and (max-width: 38rem) {
  #project-page-title h1 {
    font-size: 48px;
    margin: 1rem 0 0.5rem;
  }

  #firstMotion {
    gap: 3rem;
    padding-bottom: 6rem;
  }

  #firstMotion .project {
    flex-direction: column;
    gap: 0.5rem;
  }

  #firstMotion .project .background-image {
    width: 100%;
    height: 14rem;
  }

  #firstMotion .project .text {
    width: 100%;
  }

  #firstMotion .project .text .title {
    font-family: "AlteGrotesk", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: black;
    line-height: normal;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
  }

  #firstMotion .project .text .text {
    font-family: "AlteGrotesk", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: normal;
    padding-left: 0.5rem;
  }

  #firstMotion .backToHome {
    align-self: center;
  }
}

@media screen and (min-width: 448px) and (max-width: 38rem) {
  #firstMotion .project .background-image {
    height: 16rem;
  }
}

.video {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.video p {
  font-size: 32px;
  margin-bottom: 2rem;
}

.boutons-back {
  display: flex;
  justify-content: space-between;
}

.big-btn-to-website {
  text-align: center;
  font-size: 32px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.big-btn-to-website img {
  margin-left: 1rem;
}

#legals {
  margin-bottom: 10rem;
  max-width: 800px;
}

#legals h1 {
  margin-bottom: 4rem;
}

#legals h2 {
  margin: 2rem 0 1rem 0;
  font-size: 30px;
}

/*# sourceMappingURL=main.css.map */